@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body.parts .content {
   background-image: url('109392.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
}


body.parts .header {
   text-align: center;   
}



.header .parts-header {   
   margin-left: 25%;
   margin-right: 25%;
   width: 50%;
   font-family    : Helvetica, sans-serif;
   font-variant   : normal;
   font-style     : normal;
   text-decoration: none;
   color          : aliceblue;
   text-shadow    : 0px 0px 50px rgb(148, 148, 148);
}

.header {
   font-family    : Helvetica, sans-serif;
   font-variant   : normal;
   font-style     : normal;
   text-decoration: none;
   color          : aliceblue;
   font-size: 150%;
}

.text-block {
   width: 60%;
   font-family    : Helvetica, sans-serif;
   font-variant   : normal;
   font-style     : normal;
   text-decoration: none;
   color          : aliceblue;
   font-size: 16px; 
   font-weight: 700;
   text-align : center;
   border-radius : 15px;
   padding-left  : 0.5%;
   padding-right : 0.5%;
   padding-top   : 0.5%;
   padding-bottom: 0.5%;
   background    : #353535;
}


